@import url(variablesP1.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 90%;
  max-width: 1000px; 
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.section_header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 12px;
}

.section-one {
  button {
    font-family: "1_Minecraft-Regular";
    background: black;
    border: none;

    a {
      font-size: 60px;
      text-decoration: none;
      color: #FED904;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 30px;
  color: #FED904;
  font-family: "PressStart2P";
}

.tabs {
  display: flex;
  justify-content: space-between;
  background: #121212;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  background: #1e1e1e;
  border: none;
  color: gray;
  font-size: 30px;
  cursor: pointer;
  font-family: "1_Minecraft-Regular";
}

.tab.active {
  background: black;
  color: white;
  border-bottom: 2px solid #FED904;
  font-family: "1_Minecraft-Regular";
}

.card {
  background-color: rgba(255, 255, 255, 0.100);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  padding: 35px;

  h2 {
    font-size: 30px;
    font-family: "1_Minecraft-Regular";
    color: rgba(254, 217, 4, 0.943);
  }

  p {
    color: white;
  }

  h3 {
    margin-top: 20px;
    font-size: 30px;
    font-family: "1_Minecraft-Regular";
    color: rgba(254, 217, 4, 0.943);
  }
}

.card p {
  font-size: 25px;
  line-height: 1.6;
  font-family: "1_Minecraft-Regular";
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: white;
  font-family: "1_Minecraft-Regular";
  font-size: 30px; /* Tamaño para el texto seleccionado */
  cursor: pointer;
}


input::placeholder {
  font-size: 25px;
  color: #999;
  font-family: "1_Minecraft-Regular"; 
}

.option{
  font-size: 25px;
  color: #999;
  font-family: "1_Minecraft-Regular"; 
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #999;
  font-family: "1_Minecraft-Regular";
  font-size: 25px; 
  cursor: pointer;
}


select option[disabled] {
  color: #999; 
  font-size: 25px !important;
}


select option {
  color: white; 
  background-color: #1e1e1e;
  font-size:30px; 
}