:root{
    --color-1: #E5E5E5;
}

@font-face {
    font-family:"PressStart2P";
    src: url(../storade/font/PressStart2P-Regular.ttf);
}
@font-face {
    font-family:"1_Minecraft-Regular";
    src: url(../storade/font/1_Minecraft-Regular.otf);
}


